<div class="col-md-12">
  <div class="col-md-2">
    <ng-include src="'scripts/templates/leftMenu.html'"></ng-include>
  </div>
  <div class="col-md-10" style="padding-top: 10px" ng-if="!state.isAddSertifikat && !state.isEditSertifikat && !state.isAddLisensi && !state.isEditLisensi"
    st-safe-src="collection.produk.data" st-table="rowCollectionProduk">
    <button ng-if="idRole==4" ng-click="onClick().isAddSertifikat(true)" class="btn btn-success" style="margin-bottom: 10px">Tambah Sertifikat</button>
    <div class="box box-widget">
      <div class="box-header">
        <h3 class="box-title"></h3>
        <div class="col-md-4 pull-left">
          <div class="row" style="margin-right: 5px; margin-bottom: 5px;">
            <ui-select-object search="false" placeholder="Pilih pencarian.." ng-model="var.searchType" data="var.searchTypeList" selected-text="text"></ui-select-object>
          </div>
        </div>
        <div class="col-md-4 pull-left">
          <div class="row">
            <div class="input-group" style="margin-top:3px;">
              <input name="table_search" ng-model="var.q" class="form-control pull-right" placeholder="Cari" type="text">
              <div class="input-group-btn">
                <button class="btn btn-default" ng-click="onClick().searchData()"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div>
        <div class="scroller" on-scroll-bottom="onScroll().infiniteProduk()">
          <table class="table table-striped">
            <tbody>
              <tr id="header">
                <th style="min-width: 40px">No</th>
                <th style="min-width: 150px;max-width: 200px;" st-sort="jenis_produk">Jenis Produk</th>
                <th style="min-width: 100px;max-width: 200px;" st-sort="merk">Merk</th>
                <th ng-if="idRole!=2" style="min-width: 250px" st-sort="nama_penanggung_jawab" class="col-xs-2">Nama Perusahaan</th>
                <th ng-if="idRole!=2" style="min-width: 250px" st-sort="alamat_penanggung_jawab" class="col-xs-2">Alamat</th>
                <th ng-if="idRole==5" style="min-width: 100px" st-sort="telp" class="col-xs-2">No. Telpon</th>
                <th ng-if="idRole==5" style="min-width: 100px" st-sort="website" class="col-xs-2">Website</th>
                <th ng-if="idRole==5" style="min-width: 100px" st-sort="email" class="col-xs-2">Email</th>
                <th style="min-width: 150px" st-sort="no_SNI">No. SNI</th>
                <!--<th style="min-width: 250px" st-sort="judul_SNI">Judul SNI</th>-->
                <th ng-if="idRole!=2" style="min-width: 100px" st-sort="no_sertifikat">No. Sertifikat</th>
                <th ng-if="idRole!=2" style="min-width: 100px" st-sort="no_lisensi">No. Lisensi</th>
                <th style="min-width: 150px" st-sort="tgl_terbit_sertifikat">Tanggal Penerbitan</th>
                <th style="min-width: 150px" st-sort="tgl_berakhir_sertifikat">Tanggal Berakhir</th>
                <th style="min-width: 80px" style="min-width: 80px" ng-if="idRole!=2 && idRole!=5">Aksi</th>
              </tr>
              <tr ng-hide="rowCollectionProduk.length > 0">
                <td colspan="12" align="left">{{collection.produk.isLoaded ? 'Tidak ada data':'Loading data...'}}</td>
              </tr>
              <tr ng-hide="true">
                <td colspan="12" align="left">...</td>
              </tr>
              <tr ng-repeat="row in rowCollectionProduk">
                <td>{{$index+1 || '-'}}</td>
                <td style="max-width: 300px;word-wrap: break-word;">{{row.jenis_produk || '-'}}</td>
                <td style="max-width: 300px;word-wrap: break-word;">{{row.merk || '-'}}</td>
                <td ng-if="idRole!=2">{{row.nama_penanggung_jawab || '-'}}</td>
                <td ng-if="idRole!=2">{{row.alamat_penanggung_jawab || '-'}}</td>
                <td ng-if="idRole==5">{{row.telp || '-'}}</td>
                <td ng-if="idRole==5">{{row.website || '-'}}</td>
                <td ng-if="idRole==5">{{row.email || '-'}}</td>
                <td>
                  <div ng-repeat="sni in row.sni" style="margin-top: 5px">
                    <!--<span style="font-size:12px; font-weight:normal" class="label label-default" >{{sni.id}} : {{sni.judul_SNI}}</span>-->
                    <span style="font-size:12px; font-weight:normal" class="label label-default" uib-tooltip="{{sni.judul_SNI}}" tooltip-placement="top"
                      tooltip-trigger="'mouseenter'">{{sni.id}}</span>
                    <!--<br>-->
                  </div>
                  <!--{{row.no_SNI || '-'}}-->
                </td>
                <!--<td>{{row.judul_SNI || '-'}}</td>-->
                <td ng-if="idRole!=2">{{row.no_sertifikat || '-'}}</td>
                <td ng-if="idRole!=2">{{row.no_lisensi || '-'}}</td>
                <td>{{row.tgl_terbit_sertifikat | amDateFormat:'DD MMMM YYYY'}}</td>
                <td>{{row.tgl_berakhir_sertifikat | amDateFormat:'DD MMMM YYYY'}}</td>
                <td ng-if="idRole==1 || idRole==4">
                  <button class="btn btn-link btn-xs" ng-click="onClick().isEditSertifikat(true, row)"><i class="fa fa-edit"></i></button>
                  <button class="btn btn-link btn-xs" ng-click="onClick().isDeleteSertifikat(row, $index)"><i class="fa fa-trash"></i></button>
                </td>
                <td ng-if="idRole==3">
                  <button ng-if="row.no_lisensi==''" ng-click="onClick().isAddLisensi(true, row)" class="btn btn-link btn-xs"><i class="fa fa-plus"></i></button>
                  <button ng-if="row.no_lisensi!=''" ng-click="onClick().isEditLisensi(true, row)" class="btn btn-link btn-xs"><i class="fa fa-edit"></i></button>
                  <button ng-if="row.no_lisensi!=''" ng-click="onClick().isDeleteLisensi(row, $index)" class="btn btn-link btn-xs"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="box-footer" ng-show="rowCollectionProduk.length > 0">
        <strong> Menampilkan {{rowCollectionProduk.length}} dari {{collection.produk.totalRecord}} record </strong>
        <div ng-hide="collection.produk.isLoaded" style="float: right">Loading data <img src="images/ajax-loader.gif"/></div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <ng-include ng-if="state.isAddSertifikat || state.isEditSertifikat" src="'scripts/templates/tambahSertifikat.html'"></ng-include>
  <ng-include ng-if="state.isAddLisensi || state.isEditLisensi" src="'scripts/templates/tambahLisensi.html'"></ng-include>
</div>