<div style="padding-top: 10px">
  <div class="box box-widget" ng-if="idRole==2">
    <div class="box-footer no-padding">
      <ul class="nav nav-stacked">
        <li class="{{state.isBerlaku ? 'active':''}}" ng-click="onClick().isBerlaku(true)"><a href="">Sertifikat Berlaku</a></li>
        <li class="{{state.isBerlaku ? '':'active'}}" ng-click="onClick().isBerlaku(false)"><a href="">Sertifikat Tidak Berlaku</a></li>
      </ul>
    </div>
  </div>

  <div class="box box-widget" ng-if="idRole!=2">
    <div class="box-body box-profile">
      <h3 class="profile-username text-center">{{username}}</h3>
      <p class="text-muted text-center">{{roleName}}</p>
    </div>
    <div class="box-footer no-padding">
      <ul class="nav nav-stacked">
        <li ng-if="idRole==4" class="{{onLoadApp().getActiveClass('perusahaan')}}"><a ui-sref="perusahaan()">Manajemen Perusahaan</a></li>
        <li class="{{onLoadApp().getActiveClass('sertifikat')}}"><a ui-sref="sertifikat()">Manajemen Sertifikat</a></li>
        <li ng-if="idRole==1" class="{{onLoadApp().getActiveClass('pengguna')}}"><a ui-sref="pengguna()">Manajemen Pengguna</a></li>
        <li class="{{onLoadApp().getActiveClass('profil')}}"><a ui-sref="profil()">Profil Saya</a></li>
      </ul>
    </div>
  </div>
</div>