<div class="col-md-12">
  <div class="col-md-2">
    <ng-include src="'scripts/templates/leftMenu.html'"></ng-include>
  </div>
  <div class="col-md-10" style="padding-top: 10px" ng-hide="state.isAdd || state.isEdit" st-safe-src="collection.perusahaan.data"
    st-table="rowCollectionPerusahaan">
    <button ng-if="idRole==4" ng-click="onClick().isAdd(true)" class="btn btn-primary" style="margin-bottom: 10px">Tambah Perusahaan</button>
    <div class="box box-widget">
      <div class="box-header">
        <h3 class="box-title"></h3>
        <div class="col-md-4 pull-left">
          <div class="row" style="margin-right: 5px; margin-bottom: 5px;">
            <ui-select-object placeholder="Pilih pencarian.." ng-model="var.searchType" data="var.searchTypeList" selected-text="text"></ui-select-object>
          </div>
        </div>
        <div class="col-md-4 pull-left">
          <div class="row">
            <div class="input-group">
              <input name="table_search" st-search="{{var.searchType.id || ''}}" class="form-control pull-right" placeholder="Cari" type="text">
              <div class="input-group-btn">
                <button class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th style="min-width: 40px">#</th>
              <th style="min-width: 250px" class="col-xs-2">Nama Perusahaan</th>
              <th style="min-width: 250px" class="col-xs-2">Alamat Perusahaan</th>
              <th style="min-width: 100px">Provinsi</th>
              <th style="min-width: 100px">Kode Pos</th>
              <th style="min-width: 100px">Status</th>
              <th style="min-width: 150px">Nomor Telpon</th>
              <th style="min-width: 100px">Website</th>
              <th style="min-width: 100px">Email</th>
              <th style="min-width: 80px" ng-if="idRole==1 || idRole==4">Aksi</th>
            </tr>
            <tr ng-repeat="row in rowCollectionPerusahaan">
              <td>{{$index + 1}}</td>
              <td>{{row.nama_penanggung_jawab}}</td>
              <td>{{row.alamat_penanggung_jawab}}</td>
              <td>{{row.provinsi}}</td>
              <td>{{row.kode_pos}}</td>
              <td>{{row.status}}</td>
              <td>{{row.telp}}</td>
              <td>{{row.website}}</td>
              <td>{{row.email}}</td>
              <td ng-if="idRole==1 || idRole==4">
                <button class="btn btn-link btn-xs" ng-click="onClick().isEdit(true, row)"><i class="fa fa-edit"></i></button>
                <button ng-if="row.id_user!=1" class="btn btn-link btn-xs" ng-click="onClick().delete(row, $index)"><i class="fa fa-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
  <ng-include ng-if="state.isAdd || state.isEdit" src="'scripts/templates/tambahPerusahaan.html'"></ng-include>
</div>