<div class="row" id="box-qrcode">
  <div class="col-md-12">
    <!--<div class="col-md-12">
      <div class="col-md-4">
        <img style="width: 200px; margin-top: 8px; margin-left: -5px" src="styles/img/Logo BSN.gif">
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-4">
        <img style="width: 320px; margin-top: 55px; margin-left: 180px" src="styles/img/Logo Master.png">
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-4">
        <img style="width: 500px; margin-top: 5px; margin-left: -10px" src="styles/img/teks qrcode.png">
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-4">
        <img style="width: 200px; margin-top: 25px; margin-left: 195px" src="styles/img/Aikon SNI.png">
      </div>
      <div class="col-md-4">
        <img style="width: 200px; margin-top: 55px; margin-left: -50px" src="styles/img/coming-soon.jpg">
      </div>
    </div>-->
    <img ng-style="{'width':'100%','visibility':'hidden'}" src="styles/img/qrcode_bg.jpg">
  </div>
</div>