<div class="col-md-10" style="padding-top: 10px">
  <div class="box box-widget">
    <div class="box-header with-border">
      <h3 ng-if="state.isAdd" class="box-title">Input Perusahaan</h3>
      <h3 ng-if="state.isEdit" class="box-title">Update Perusahaan</h3>
    </div>
    <form class="form-horizontal" name="formPerusahaan" novalidate="novalidate" accessible-form="" on-submit="onSubmit().submit(formPerusahaan)">
      <div class="box-body">
        <div class="form-group">
          <label class="col-sm-4 control-label">Nama Penanggung Jawab Produk 
            <h6><i>Ket : diisi nama pemilik merek atau nama perwakilan pemilik merek produk yang diedarkan di wilayah RI sesuai dengan pendaftaran di Kementerian Hukum dan HAM RI</i></h6>
          </label>
          <div class="col-sm-6">
            <input class="form-control" ng-required="false" ng-model="var.input.namaPJProduk">
            <span class="error-required hidden">Harap diisi</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Alamat Penanggung Jawab Produk
            <h6><i>Ket : diisi nama jalan, nomor, RT/RW, Kelurahan, Kecamatan</i></h6>
          </label>
          <div class="col-sm-6">
            <textarea class="form-control" ng-required="false" ng-model="var.input.alamatPJProduk"></textarea>
            <span class="error-required hidden">Harap diisi</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Provinsi</label>
          <div class="col-sm-6">
            <input class="form-control" ng-required="false" ng-model="var.input.provinsi">
            <span class="error-required hidden">Harap diisi</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Kota Madya / Kabupaten</label>
          <div class="col-sm-6">
            <input class="form-control" ng-required="false" ng-model="var.input.kabupaten">
            <span class="error-required hidden">Harap diisi</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Kode Pos</label>
          <div class="col-sm-6">
            <input class="form-control" ng-required="false" ng-model="var.input.kodePos">
            <span class="error-required hidden">Harap diisi</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Status Penanggung Jawab Produk
            <h6><i>Ket : diisi importir pemilik merk atau distributor atau perwakilan resmi produsen atau pabrikan lokal yang memproduksi untuk merek lokal/asing </i></h6>
          </label>
          <div class="col-sm-6">
            <input class="form-control" ng-required="false" ng-model="var.input.statusPJProduk">
            <span class="error-required hidden">Harap diisi</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Nomor Telpon / HP</label>
          <div class="col-sm-6">
            <input validate-input is-numeric="true" class="form-control" ng-required="false" ng-model="var.input.nomorTelpon">
            <span class="error-required hidden">Harap diisi</span>
            <span class="error-numeric hidden">Nomor telpon tidak valid</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Website</label>
          <div class="col-sm-6">
            <input validate-input is-valid-url="true" type="text" class="form-control" ng-required="false" ng-model="var.input.website">
            <span class="error-required hidden">Harap diisi</span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label">Email</label>
          <div class="col-sm-6">
            <input validate-input is-email="true" class="form-control" ng-required="false" ng-model="var.input.email">
            <span class="error-required hidden">Harap diisi</span>
            <span class="error-email hidden">Email tidak valid</span>
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-success">Simpan</button>
        <button ng-if="state.isAdd" type="button" class="btn btn-danger" ng-click="onClick().isAdd(false)">Batal</button>
        <button ng-if="state.isEdit" type="button" class="btn btn-danger" ng-click="onClick().isEdit(false)">Batal</button>
      </div>
    </form>
  </div>
</div>